@import "tailwindcss";

@theme{
  --color-cream: #fefbe9;
  --color-choco: #4b3f35;
  --color-sienna: #a0522d;
  --color-mustard: #ffdb58;
  --color-teal: #008080;
}
:root {
  color-scheme: light dark;
}